<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><package android:name="com.spotify.music" /></queries>
    <application android:label="AudioShelf Spotify Helper" android:icon="@drawable/ic_helper"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true"
            android:excludeFromRecents="true" android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="audioshelf-helper" android:host="wake" />
            </intent-filter>
        </activity>
    </application>
</manifest>
